.searchbar {
  margin-bottom: 10px;
  padding: 10px;

  background-color: rgb(28, 180, 180);
}

.submit {
  box-sizing: border-box;
  height: 30px;
  padding: 5px 10px;
  margin-right: 10px;

  color: white;
  background-color: rgb(72, 72, 72);
  border-style: none;
  cursor: pointer;
}

.submit:hover,
.submit:focus {
  background-color: rgb(138, 138, 138);
}

.input {
  box-sizing: border-box;
  padding: 5px 10px;
  height: 30px;
  width: 200px;
}
